In [1]:
def invert(l):
    l = l[:] # copy it
    for i in range(len(l)):
        if l[i] < 0:
            l[i] = -l[i]
    return l

invert([-1, -3, 5, -4, 8])

[1, 3, 5, 4, 8]

In [2]:
import time

In [3]:
time.time()

1657504316.138022

In [4]:
t1 = time.time()

total = 0
limit = 19000000 # try changing this
for i in range(limit):
    total += i

t2 = time.time()

print("TOTAL:", total)
milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

TOTAL: 180499990500000
ms: 1097.8131294250488

In [5]:
t1 = time.time()
import requests

r = requests.get("https://raw.githubusercontent.com/msyamkumar/cs220-projects/master/spring20/lab-p10a/hello.txt")
r.raise_for_status()
data = r.text

t2 = time.time()

milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

ms: 169.4357395172119

In [6]:
t1 = time.time()

f = open("hello.txt", "w", encoding="utf-8")
f.write(data)
f.close()

t2 = time.time()

milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

ms: 1.378774642944336

In [7]:
t1 = time.time()

f = open("hello.txt", encoding="utf-8")
data = f.read()
f.close()

t2 = time.time()

milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

ms: 1.0287761688232422

In [8]:
import os

def download(filename, url):
    # We do not download again if the file already exists
    if os.path.exists(filename):
        return (str(filename) + " already exists!")

    # TODO: Write the code to download the file from URL
    # and save it in `filename`
    r = requests.get(url)
    r.raise_for_status()
    data = r.text

    f = open(filename, "w", encoding="utf-8")
    f.write(data)
    f.close()

    return (str(filename) + " created!")

In [9]:
download("hello.html", "https://raw.githubusercontent.com/msyamkumar/cs220-projects/master/spring20/lab-p10a/hello.html")

'hello.html already exists!'

In [10]:
import pandas as pd
from pandas import DataFrame, Series

In [11]:
# option 1
DataFrame([[1,2], [3,4]])

   0  1
0  1  2
1  3  4

In [12]:
# option 2
DataFrame([{"x":1, "y":2},
           {"x":3, "y":4}])

   x  y
0  1  2
1  3  4

In [13]:
# option 3
DataFrame({"x":[1,3],
           "y":[2,4]})

   x  y
0  1  2
1  3  4

In [16]:
# option 4
four = DataFrame({"x":{"A":1,"B":3},
           "y":{"A":2,"B":4}})
four

   x  y
A  1  2
B  3  4

In [25]:
for i in range(len(four)):
    print(four["x"][i])

1
3