In [9]:
import os, requests, pandas as pd
from pandas import Series, DataFrame

def download(filename, url):
    # We do not download again if the file already exists
    if os.path.exists(filename):
        return (str(filename) + " already exists!")

    # TODO: Write the code to download the file from URL
    # and save it in `filename`
    r = requests.get(url)
    r.raise_for_status()
    data = r.text

    f = open(filename, "w", encoding="utf-8")
    f.write(data)
    f.close()

    return (str(filename) + " created!")

In [10]:
download("countries.json", "https://raw.githubusercontent.com/msyamkumar/cs220-projects/master/spring20/p10/countries.json")

'countries.json already exists!'

In [12]:
countries = pd.read_json("countries.json")
countries.head()

     area  birth-rate  coastline  ... phones population               region
0  756950       15.23       0.85  ...  213,0   16134219  LATIN AMER. & CARIB
1     665       17.80      24.21  ...  281,3     698585            NEAR EAST
2   22966       28.84       1.68  ...  115,7     287730  LATIN AMER. & CARIB
3  582650       39.72       0.09  ...    8,1   34707817   SUB-SAHARAN AFRICA
4   11854       33.05       3.12  ...   91,2      60422              OCEANIA

[5 rows x 13 columns]

In [13]:
#q1
len(countries)

174

In [28]:
#q2
col_population = countries.population
col_population.sum()

# total_population = 0
# for pop in countries["population"]:
#     total_population += int(pop)
# total_population

6261901793

In [31]:
download("capitals.json", "https://raw.githubusercontent.com/msyamkumar/cs220-projects/master/spring20/p10/capitals.json")

'capitals.json created!'

In [34]:
capitals = pd.read_json("capitals.json")
capitals.head()

       country       capital   latitude  longitude
0  Afghanistan         Kabul  34.516667  69.183333
1      Albania        Tirana  41.316667  19.816667
2      Algeria       Algiers  36.750000   3.050000
3     Anguilla    The Valley  18.216667 -63.050000
4    Argentina  Buenos Aires -34.583333 -58.666667

In [36]:
#q3
sorted(list(capitals.capital))

['Abu Dhabi',
 'Abuja',
 'Accra',
 'Addis Ababa',
 'Algiers',
 'Amman',
 'Amsterdam',
 'Ankara',
 'Antananarivo',
 'Apia',
 'Ashgabat',
 'Asmara',
 'Astana',
 'Asuncion',
 'Athens',
 'Baghdad',
 'Baku',
 'Bamako',
 'Bangkok',
 'Beijing',
 'Beirut',
 'Belmopan',
 'Berlin',
 'Bern',
 'Bishkek',
 'Bissau',
 'Bogota',
 'Brasilia',
 'Bridgetown',
 'Brussels',
 'Bucharest',
 'Budapest',
 'Buenos Aires',
 'Bujumbura',
 'Cairo',
 'Canberra',
 'Caracas',
 'Castries',
 'Chisinau',
 'Colombo',
 'Conakry',
 'Copenhagen',
 'Dakar',
 'Damascus',
 'Dar es Salaam',
 'Dhaka',
 'Djibouti',
 'Doha',
 'Dublin',
 'Dushanbe',
 'Freetown',
 'Gaborone',
 'George Town',
 'Georgetown',
 'Guatemala City',
 'Hagatna',
 'Hamilton',
 'Hanoi',
 'Harare',
 'Havana',
 'Helsinki',
 'Islamabad',
 'Jakarta',
 'Jamestown',
 'Jerusalem',
 'Kabul',
 'Kampala',
 'Kathmandu',
 'Khartoum',
 'Kigali',
 'Kingston',
 'Kingstown',
 'Kuala Lumpur',
 'Kuwait City',
 'Kyiv',
 'La Paz',
 'Libreville',
 'Lilongwe',
 'Lima',
 'Lisbon',
 'Ljubljana',
 'Lome',
 'London',
 'Lusaka',
 'Luxembourg',
 'Madrid',
 'Majuro',
 'Malabo',
 'Male',
 'Managua',
 'Manama',
 'Manila',
 'Maputo',
 'Maseru',
 'Mbabane',
 'Melekeok',
 'Mexico City',
 'Minsk',
 'Mogadishu',
 'Monaco',
 'Monrovia',
 'Montevideo',
 'Moroni',
 'Moscow',
 'Muscat',
 'Nairobi',
 'New Delhi',
 'Niamey',
 'Nouakchott',
 'Noumea',
 'Nuku’alofa',
 'N’Djamena',
 'Oranjestad',
 'Oslo',
 'Ottawa',
 'Ouagadougou',
 'Panama City',
 'Papeete',
 'Paramaribo',
 'Paris',
 'Phnom Penh',
 'Port Louis',
 'Port Moresby',
 'Port-Vila',
 'Port-au-Prince',
 'Porto-Novo',
 'Prague',
 'Praia',
 'Pretoria',
 'Quito',
 'Rabat',
 'Reykjavik',
 'Riga',
 'Riyadh',
 'Rome',
 'Roseau',
 'Saint George’s',
 'San Jose',
 'San Juan',
 'San Marino',
 'San Salvador',
 'Sanaa',
 'Santiago',
 'Santo Domingo',
 'Singapore',
 'Sofia',
 'Stockholm',
 'Suva',
 'Taipei',
 'Tallinn',
 'Tashkent',
 'Tbilisi',
 'Tegucigalpa',
 'Tehran',
 'The Valley',
 'Thimphu',
 'Tirana',
 'Tokyo',
 'Tripoli',
 'Tunis',
 'Ulaanbaatar',
 'Vaduz',
 'Valletta',
 'Victoria',
 'Vienna',
 'Vientiane',
 'Vilnius',
 'Warsaw',
 'Washington, D.C.',
 'Wellington',
 'Windhoek',
 'Yaounde',
 'Yerevan',
 'Zagreb']

In [56]:
#q4
list(capitals[capitals.country == "Italy"].get("capital"))[0]

'Rome'

In [57]:
#q5
list(capitals[capitals.capital == "Brussels"].get("country"))[0]

'Belgium'

In [64]:
#q6
list(capitals.sort_values("latitude")[:7].get("country"))

['New Zealand',
 'Australia',
 'Uruguay',
 'Argentina',
 'Chile',
 'Lesotho',
 'Swaziland']

In [71]:
#q7
list(capitals.sort_values("latitude", ascending=[False]).get("country"))[:10]

['Iceland',
 'Finland',
 'Norway',
 'Estonia',
 'Sweden',
 'Latvia',
 'Russia',
 'Denmark',
 'Lithuania',
 'Belarus']

In [74]:
from math import radians, cos, sin, asin, sqrt

def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance in kilometers between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 3956 # Radius of earth in kilometers. Use 3956 for miles. Determines return value units.
    return c * r

In [89]:
#q8
haversine(-89.411893, 43.070231, -89.384113, 43.074645)

1.433899492072933

In [90]:
#q9
ger_lat = capitals[capitals.country == "Germany"].iloc[0]["latitude"]
ger_lon = capitals[capitals.country == "Germany"].iloc[0]["longitude"]
nor_lat = capitals[capitals.country == "Norway"].iloc[0]["latitude"]
nor_lon = capitals[capitals.country == "Norway"].iloc[0]["longitude"]
haversine(ger_lon, ger_lat, nor_lon, nor_lat)

520.8581822565817

In [154]:
#q10
def find_distance(p1, p2):
    p1_lat = capitals[capitals.country == p1].iloc[0]["latitude"]
    p1_lon = capitals[capitals.country == p1].iloc[0]["longitude"]
    p2_lat = capitals[capitals.country == p2].iloc[0]["latitude"]
    p2_lon = capitals[capitals.country == p2].iloc[0]["longitude"]

    return haversine(p1_lon, p1_lat, p2_lon, p2_lat)

def distances_between(countries):
    df = pd.DataFrame(columns=countries, index=countries)

    for col in df:
        for row in df.index:
            if col != row:
                df[col][row] = find_distance(col, row)
    
    return df

distances_between(["Switzerland", "Netherlands", "Spain"])

            Switzerland Netherlands       Spain
Switzerland         NaN  392.028643  714.804467
Netherlands  392.028643         NaN    919.6841
Spain        714.804467    919.6841         NaN

In [163]:
#q11
south_america_distances = distances_between(list(countries[countries.continent == "South America"].get("country")))
south_america_distances

                 Chile       Guyana  ...      Uruguay     Paraguay
Chile              NaN  2897.553095  ...   833.403262   963.635535
Guyana     2897.553095          NaN  ...  2878.638295  2214.288286
Colombia   2636.644599  1105.066312  ...  2962.230943  2337.615967
Suriname   2895.810776   215.336336  ...  2809.744412  2153.855447
Brazil     1869.737031  1709.071018  ...  1412.096335    908.18571
Bolivia    1180.741903   1747.77267  ...  1467.253638   906.799256
Venezuela  3043.657689   646.969843  ...  3207.352176  2544.799572
Argentina   690.784168  2857.520462  ...   143.069943   646.036441
Peru       1531.480189  1837.860149  ...  2046.571589  1558.635236
Ecuador    2350.207788  1483.193753  ...  2791.196721  2218.650964
Uruguay     833.403262  2878.638295  ...          NaN   667.699386
Paraguay    963.635535  2214.288286  ...   667.699386          NaN

[12 rows x 12 columns]

In [218]:
#q12
means = {}
for country in south_america_distances: # col
    # total_distance = 0.0

    # for cell in south_america_distances[country]:
    #     if not pd.isnull(cell):
    #         total_distance += float(cell)
        
    # print(total_distance / (len(south_america_distances[country])-1))

    means[country] = DataFrame.mean(south_america_distances[country])

means = Series(means)
means.idxmin()

# shortest = None
# for mean in means:
#     if shortest == None or means[mean] < means[shortest]:
#         shortest = mean

# shortest

'Bolivia'

In [219]:
#q13
# longest = None
# for mean in means:
#     if longest == None or means[mean] > means[longest]:
#         longest = mean

# longest

means.idxmax()

'Uruguay'

In [299]:
#q14
a = Series(["honk1", "honk2"])
b = Series(["honk3", "honk4"])

df = DataFrame(columns=["nearest", "distance"])

for country in south_america_distances:
    distances = Series(south_america_distances[country])
    nearest = distances[distances == distances.min()]

    # print(nearest)
    # print(nearest.iloc[0])
    # print(nearest.index[0])
    # print(nearest.name)

    df.loc[nearest.name] = nearest.index[0], float(nearest.iloc[0])

df

             nearest    distance
Chile      Argentina  690.784168
Guyana      Suriname  215.336336
Colombia     Ecuador  451.004119
Suriname      Guyana  215.336336
Brazil      Paraguay  908.185710
Bolivia         Peru  669.926372
Venezuela   Colombia  639.361118
Argentina    Uruguay  143.069943
Peru         Bolivia  669.926372
Ecuador     Colombia  451.004119
Uruguay    Argentina  143.069943
Paraguay   Argentina  646.036441

In [298]:
#q15
df = DataFrame(columns=["furthest", "distance"])

for country in south_america_distances:
    distances = Series(south_america_distances[country])
    nearest = distances[distances == distances.max()]

    # print(nearest)
    # print(nearest.iloc[0])
    # print(nearest.index[0])
    # print(nearest.name)

    df.loc[nearest.name] = nearest.index[0], float(nearest.iloc[0])

df

            furthest     distance
Chile      Venezuela  3043.657689
Guyana         Chile  2897.553095
Colombia     Uruguay  2962.230943
Suriname       Chile  2895.810776
Brazil       Ecuador  2344.584922
Bolivia    Venezuela  1865.131181
Venezuela    Uruguay  3207.352176
Argentina  Venezuela  3157.624051
Peru         Uruguay  2046.571589
Ecuador      Uruguay  2791.196721
Uruguay    Venezuela  3207.352176
Paraguay   Venezuela  2544.799572

In [300]:
# OPTIONAL 1

In [301]:
download('capitals.html', 'https://raw.githubusercontent.com/msyamkumar/cs220-projects/master/spring20/p10/techslides-snapshot.html')

'capitals.html created!'

In [362]:
from bs4 import BeautifulSoup

with open("capitals.html") as fp:
    soup = BeautifulSoup(fp, "html.parser")

table = soup.find_all("table")
rows = BeautifulSoup(str(table)).find_all("tr")
header = rows[:1]
body = rows[1:]

capitals = []
parse_header = BeautifulSoup(str(header)).find_all("td")
header = []

for i in range(4):
    header.append((parse_header[i].contents[0]))

for row in body:
    cells = BeautifulSoup(str(row)).find_all("td")
    capitals.append({header[0]:cells[0].contents[0], 
                     header[1]:cells[1].contents[0], 
                     header[2]:float(cells[2].contents[0]), 
                     header[3]:float(cells[3].contents[0])})

    # capitals.append({header[0]:cells[0].contents, 
    #                  header[1]:cells[1].contents, 
    #                  header[2]:cells[2].contents, 
    #                  header[3]:cells[3].contents})

    # print(cells[0].contents, cells[1].contents, cells[2].contents, cells[3].contents)

In [380]:
capitals_json = pd.read_json("capitals.json")

for capital in capitals:
    # print(capital["Country Name"])
    # print(capitals_json["country"].values)

    if not capital["Country Name"] in capitals_json["country"].values:
        capitals.remove(capital)

    # if capital["Country Name"] not in capitals_json["country"]:
    #     print(capital)

len(capitals)

174

In [461]:
no_coastline = countries[(countries.coastline == 0.0) & (countries.continent == "Africa")]
no_coastline.loc[no_coastline.area[no_coastline.area == no_coastline.area.max()].index[0]]["country"]

'Chad'

In [465]:
no_coastline = countries[(countries.coastline > 0.0) & (countries.continent == "Asia")]
no_coastline.loc[no_coastline.area[no_coastline.area == no_coastline.area.min()].index[0]]["country"]

'Maldives'

In [467]:
pop_coastal = countries[(countries.coastline > 0.0) & (countries.continent == "South America")]
pop_coastal.loc[pop_coastal.population[pop_coastal.population == pop_coastal.population.max()].index[0]]["country"]

'Brazil'

In [488]:
countries["birth-rate"].describe()

l = list(countries["death-rate"].describe().keys())

df = DataFrame(index=l)
df["birth-rate"] = countries["birth-rate"].describe()
df["death-rate"] = countries["death-rate"].describe()

df

       birth-rate  death-rate
count  174.000000  174.000000
mean    22.463851    9.625172
std     11.278992    5.187143
min      8.250000    2.410000
25%     12.597500    6.027500
50%     20.010000    8.230000
75%     29.860000   11.715000
max     50.730000   29.740000