In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [ ]:
Python  Pandas
key     index
index   integer position

In [ ]:
#pip install pandas
# in the terminal or powershell

In [1]:
import pandas

In [2]:
pandas.Series

pandas.core.series.Series

In [3]:
import pandas as pd

In [4]:
pd.Series

pandas.core.series.Series

In [6]:
#create a series from a dict
d = {"one":7, "two":8, "three":9}
d

{'one': 7, 'two': 8, 'three': 9}

In [7]:
s = pd.Series({"one":7, "two":8, "three":9})
s

one      7
two      8
three    9
dtype: int64

In [ ]:
IP  index    value
0   one      7
1   two      8
2   three    9

dtype: int64

In [8]:
# dict access with key
d["one"]

7

In [9]:
# series access with index
s.loc["one"]

7

In [10]:
s.loc["two"]

8

In [11]:
#series access with integer position
s.iloc[0]

7

In [12]:
s.iloc[1]

8

In [13]:
s.iloc[-1]

9

In [14]:
s["one"]

7

In [15]:
s[0]

7

In [16]:
#series access with a list of integer positions
s[ [0, 2]   ]

one      7
three    9
dtype: int64

In [17]:
#series access with a list of indexes
s[   ["one", "three"]   ]

one      7
three    9
dtype: int64

In [22]:
# Series created from a list
num_list = [100, 200, 300]
s = pd.Series([100, 200, 300])
s

0    100
1    200
2    300
dtype: int64

In [ ]:
IP  index value
0   0      100
1   1      200
2   2      300
dtype: int64

In [25]:
print(s.loc[1])
print(s.iloc[1])

200
200

In [30]:
#slicing
letters_list = ["a", "b", "c", "d", "e", "f"]
letters = pd.Series(["a", "b", "c", "d", "e", "f"])
letters

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [31]:
#list slicing reveiw
letters_list

['a', 'b', 'c', 'd', 'e', 'f']

In [33]:
sliced_letter_list = letters_list[2:]
sliced_letter_list

['c', 'd', 'e', 'f']

In [34]:
sliced_letter_list[0]

'c'

In [35]:
#series slicing
letters

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [37]:
sliced_letters = letters[2:]
sliced_letters

2    c
3    d
4    e
5    f
dtype: object

In [38]:
sliced_letters.loc[2]

'c'

In [39]:
sliced_letters.iloc[0]

'c'

In [41]:
sliced_letters[2]

'c'

In [ ]:
# note integer positions get renumbered.  Indexes do not.
IP  Index  values
0   2       c
1   3       d
2   4       e
3   5       f
dtype: object

In [42]:
s = pd.Series({"one":7, "two":8, "three":9})
s

one      7
two      8
three    9
dtype: int64

In [43]:
#slicing with indexes
s["two":]

two      8
three    9
dtype: int64

In [44]:
#elementwise operations
nums = [1,2,3,4]
nums * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [46]:
snum = pd.Series(nums)
snum

0    1
1    2
2    3
3    4
dtype: int64

In [47]:
snum * 3

0     3
1     6
2     9
3    12
dtype: int64

In [48]:
snum + 3

0    4
1    5
2    6
3    7
dtype: int64

In [49]:
snum / 3

0    0.333333
1    0.666667
2    1.000000
3    1.333333
dtype: float64

In [50]:
nums

[1, 2, 3, 4]

In [55]:
# nums / 4 # doesn't work with lists

In [57]:
snum

0    1
1    2
2    3
3    4
dtype: int64

In [61]:
snum += 2
snum

0     7
1     8
2     9
3    10
dtype: int64

In [59]:
snum

0    3
1    4
2    5
3    6
dtype: int64

In [62]:
#1 SERIES op SCALAR
#2 SERIES op SERIES

pd.Series([1,2,3])  + pd.Series([4,5,6])

0    5
1    7
2    9
dtype: int64

In [63]:
pd.Series([1,2,3]) * pd.Series([4,5,6])

0     4
1    10
2    18
dtype: int64

In [64]:
pd.Series([1,2,3]) / pd.Series([4,5,6])

0    0.25
1    0.40
2    0.50
dtype: float64

In [65]:
pd.Series([1,2,3]) ** pd.Series([4,5,6])

0      1
1     32
2    729
dtype: int64

In [67]:
pd.Series([1,2,3]) < pd.Series([4,5,1])

0     True
1     True
2    False
dtype: bool

In [70]:
pd.Series([1,2,3]) + pd.Series([4,5])

0    5.0
1    7.0
2    NaN
dtype: float64

In [71]:
pd.Series(["a", "Alice", 1, 4.5, [1,2], {"a":"Alice"}])

0                 a
1             Alice
2                 1
3               4.5
4            [1, 2]
5    {'a': 'Alice'}
dtype: object

In [73]:
#concatenation
s1 = pd.Series([1,2,3]) 
s2 = pd.Series([4,5])
print(s1)
print(s2)

0    1
1    2
2    3
dtype: int64
0    4
1    5
dtype: int64

In [75]:
s = pd.concat( [s1, s2] )
s

0    1
1    2
2    3
0    4
1    5
dtype: int64

In [76]:
s.loc[0]

0    1
0    4
dtype: int64

In [78]:
# ELEMENTWISE AMBIGUITY
s1 = pd.Series({"A":10, "B": 20 })
s2 = pd.Series({"B":1, "A": 2 })
print(s1)
print(s2)

A    10
B    20
dtype: int64
B    1
A    2
dtype: int64

In [79]:
# INDEX ALIGNMENT
s1 + s2

A    12
B    21
dtype: int64

In [82]:
# insert / append
s2["Z"] = 100
s2

B      1
A      2
Z    100
dtype: int64

In [84]:
# BOOLEAN OPERATIONS
s = pd.Series([10, 2, 3, 15])
s

0    10
1     2
2     3
3    15
dtype: int64

In [85]:
# extract numbers > 8
s[pd.Series([True, False, False, True])]

0    10
3    15
dtype: int64

In [87]:
b = pd.Series([True, False, False, True])
b

0     True
1    False
2    False
3     True
dtype: bool

In [88]:
s[b]

0    10
3    15
dtype: int64

In [89]:
s

0    10
1     2
2     3
3    15
dtype: int64

In [92]:
b = s > 8
b

0     True
1    False
2    False
3     True
dtype: bool

In [93]:
s[b]

0    10
3    15
dtype: int64

In [94]:
s[ s>8  ]

0    10
3    15
dtype: int64

In [95]:
# ELEMENTWISE STRING OPERATIONS
words = pd.Series(["APPLE", "bill", "CAT", "dog"])
words

0    APPLE
1     bill
2      CAT
3      dog
dtype: object

In [97]:
# error words.upper()  # can't call string functions on Series

In [99]:
up = words.str.upper()
up

0    APPLE
1     BILL
2      CAT
3      DOG
dtype: object

In [102]:
#words[BOOLEAN SERIES]
words == up
b = words == up
b

0     True
1    False
2     True
3    False
dtype: bool

In [103]:
words[b]

0    APPLE
2      CAT
dtype: object

In [104]:
# GET THE ODD NUMBERS FROM A LIST
s = pd.Series([10, 19, 11, 30, 35])
s

0    10
1    19
2    11
3    30
4    35
dtype: int64

In [105]:
s % 2

0    0
1    1
2    1
3    0
4    1
dtype: int64

In [107]:
b = s % 2 == 1
b

0    False
1     True
2     True
3    False
4     True
dtype: bool

In [108]:
s

0    10
1    19
2    11
3    30
4    35
dtype: int64

In [109]:
s[b]

1    19
2    11
4    35
dtype: int64

In [110]:
# BOOLEAN OPERATORS - AND OR NOT
#numbers < 12 or greater than 33
s

0    10
1    19
2    11
3    30
4    35
dtype: int64

In [111]:
# s[ s < 12 or  s > 33] # doesn't work with or and or not

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [112]:
# use | instead of or
s[ s < (12 |  s) > 33]
# error because precedence is so high

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [113]:
# use lots of parenthesis
s[ (s < 12) | (s > 33)]

0    10
2    11
4    35
dtype: int64

In [115]:
# AND is &
s[ (s > 12) & (s < 33)]

1    19
3    30
dtype: int64

In [116]:
# NOT is ~
s[ ~((s > 12) & (s < 33))]

0    10
2    11
4    35
dtype: int64